<form class="add-exam-form" [formGroup]="form">
  <!-- Student -->
  <p-fieldset legend="Élève">
    <div class="form-row" formGroupName="student">
      <p-floatlabel variant="on">
        <input
          pInputText
          formControlName="first_name"
          id="first_name"
          autocomplete="off"
        />
        <label for="first_name">* Prénom</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <input
          pInputText
          formControlName="last_name"
          id="last_name"
          autocomplete="off"
        />
        <label for="last_name">* Nom de famille</label>
      </p-floatlabel>
    </div>
  </p-fieldset>

  <!-- Appointment -->
  <p-fieldset legend="Rendez-vous">
    <div class="form-row">
      <p-floatlabel variant="on">
        <input
          formControlName="meeting_point"
          pInputText
          id="meeting_point"
          autocomplete="off"
        />
        <label for="meeting_point">Point de rendez-vous</label>
      </p-floatlabel>
      <p-select
        formControlName="status"
        [options]="selectOptions"
        placeholder="Status"
      />
    </div>
  </p-fieldset>

  <!-- Date & time (splitted) -->
  <p-fieldset legend="Date et heure">
    <div class="form-row">
      <p-floatlabel variant="on">
        <p-datepicker
          formControlName="date"
          [minDate]="today"
          [showIcon]="true"
          [showOnFocus]="false"
          inputId="date"
        />
        <label for="date">Date</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <p-datepicker 
          formControlName="time" 
          [timeOnly]="true" 
          [showIcon]="true"
          [iconDisplay]="'input'" 
          inputId="time" 
        />
        <label for="time">Heure</label>
      </p-floatlabel>
    </div>
  </p-fieldset>

  @if (formError) {
    <p class="form-error">
      {{ formError }}
    </p>
  }
  
  <!-- Submit -->
  <div class="form-buttons">
    <p-button variant="outlined" label="Annuler" (click)="cancel()" />
    <p-button label="Ajouter" (click)="submitForm()" [disabled]="form.invalid" />
  </div>
</form>
