$primary: #fb580a;
$primary-light: #fdeee7;

$error: #e85842;
$error-light: #fcf0f0;

$success: #0d9e77;
$success-light: #e1f7f0;

$info: #88898a;
$info-light: #f1f1f0;

$text-primary: #1f232a;
$text-info: #434855;

$font-primary: "Geist", sans-serif;

$background-light: #fff;

$border-gray: #c5c5c2;