@import "variables";

.chip {
    border-radius: 16px;
    padding: 6px 12px;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    text-wrap: nowrap;

    &.primary {
        color: $primary;
        background-color: $primary-light;
    }
    &.info {
        color: $info;
        background-color: $info-light;
    }
    &.success {
        color: $success;
        background-color: $success-light;
    }
    &.error {
        color: $error;
        background-color: $error-light;
    }
}