<table class="exams-table bordered">
  <tbody>
    @for (exam of exams; track exam.date) {
      <tr>
        <td>
          <span class="bold">
            <i class="pi pi-user"></i>
            {{ exam.student.first_name }} {{ exam.student.last_name }}
          </span>
        </td>
        <td>
          @if(exam.meeting_point) {
            <span class="bold">
              <i class="pi pi-map-marker"></i>
              {{ exam.meeting_point }}
            </span>
          } @else {
            <span class="italic">En attente</span>
          }
        </td>
        <td>
          @if(exam.date) {
            <span class="bold">
              <i class="pi pi-calendar"></i>
              {{ exam.date | date : "mediumDate" : undefined : "fr-FR" }}
            </span>
          } @else {
            <span class="italic">En attente</span>
          }
        </td>
        <td>
          @if(exam.date) {
            <span class="bold">
              <i class="pi pi-clock"></i>
              {{ exam.date | date : "shortTime" : undefined : "fr-FR" }}
            </span>
          } @else {
            <span class="italic">En attente</span>
          }
        </td>
        <td>
          @if (exam.status) {
            <p-chip [label]="exam.status" [attr.data-status]="exam.statusColor"/>
          } @else {
            <p-chip label="à organiser" data-status="primary" />
          }
        </td>
      </tr>
    }
  </tbody>
</table>
